@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');

body {
  margin: 0;
  padding: 0;
  background-color: #DBC2CF;
  color: #16262E;
  font-family: 'Neucha', cursive;
  font-size: 18px;
}

main {
  display: block;
  margin: 0 auto;
  max-width: 600px;
  width: 90%;
  height: 100vh;
  border: 1px solid salmon;
}


/* Typography */

h1 {
  font-size: 2rem;
  font-weight: 700;
}

h1:hover {
  transform: rotate(3deg);
  transform: scale(1.1, 1.1);
}

p {
  font-size: 1rem;
}

/* Textarea */

textarea {
  width: 100%;
  height: auto;
  border-radius: .3rem;
  border: none;
  outline: none;
  padding: .8rem;
  margin: 1rem 0;
  box-shadow: 5px 5px 15px rgba(25,1,150,0.1);
}

/* Buttons */

.container-btns {
  width: 100%;
  max-width: 400px;
  height: auto;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content:space-evenly;
  border: 1px solid red;
  margin: 0 auto;
}

button {
  padding: 10px 25px;
  background-color: #3C7A89;
  border: none;
  border-radius: 3px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #fff;
  font-weight: 900;
  transition: all .4s ease-in-out;

}

button:hover, button:focus {
  background-color: orange;
  cursor: pointer;
}

/* print */
#para {
  display: block;
  width: 100%;
  max-width: 600px;
  height: auto;
  background-color: #fff;
  overflow: hidden;
  padding: 15px;
  border-radius: 5px;
}

/* style manipulation */
.change-class {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: #2E4756;
}